# Bu bölüm uygulamanın kullandığı ortam değişkenlerini tanımlar.
# API_ID ve API_HASH değişkenleri, uygulamanın API hizmetiyle kimliğini doğrulamak için kullanılır.
# DEFAULT_BIO değişkeni, kullanıcının profili için varsayılan bir biyografi ayarlamak için kullanılır.
# APP_ICON, uygulama simgesi dosyasının yoludur. Uygulamanın penceresinde kullanılır.

# API_ID ve API_HASH almak için my.telegram.org'a giriş yapıp yeni bir uygulama oluşturmanız gerekmektedir.
API_ID=
API_HASH=
DEFAULT_BIO="Oyunun açık olmadığı süre boyunca uygulanacak biyografinizi buraya girin"



## BU KISMIN ALTINDA, NE YAPTIĞINIZI BİLMİYORSANIZ HİÇBİR ŞEYİ DEĞİŞTİRMEMELİSİNİZ
ACTION_EMOJI_LESS_10_MIN="🎯"
ACTION_EMOJI_10_TO_60_MIN="🎯"
ACTION_EMOJI_60_TO_120_MIN="🎯"
ACTION_EMOJI_MORE_120_MIN="🎯"
APP_ICON="./src/app_icon.ico"
GAME_DATA_JSON_WINDOWS="./games/process_mapping.json"
GAME_DATA_JSON_LINUX="./games/process_mapping_linux.json"
SESSION_NAME="./status_changer"


# Uygulamada kullanılan metin değişkenleri (Türkçe) 
# BU DEĞİŞKENLERDEN BİRİNİ BİLE SİLMEYİN
# NE YAPTIĞINIZI BİLMİYORSANIZ DEĞİŞMEYİN
APP_ID_MISSING="API_ID ortam değişkeni ayarlanmadı"
APP_HASH_MISSING="API_HASH ortam değişkeni ayarlanmadı"
DEFAULT_BIO_MISSING="DEFAULT_BIO ortam değişkeni ayarlanmadı"
APP_ICON_MISSING="APP_ICON ortam değişkeni ayarlanmamış"
START_MESSAGE="__Telegram aktivite güncellemesi (V#local_version) açık! Aşağıdaki oyunlara giriş yaptığınızda biyografiniz değişecek!__\n\n"
ERROR="Hata"
WARNING="Uyarı"
STARTED="Başladı!"
ADD="Ekle"
CLOSE="Kapat"
ADD_GAME="Oyun Ekle:"
ADD_GAME_BUTTON="Ekle"
LIST_OF_GAMES="Oyunların Listesi"
DELETE="Sil"
RUN="Çalıştır"
INTERVAL_TIME="60"
DEFAULT_BIO_LABEL="Varsayılan Biyografi:"
CANT_CONNECT="Telegram'a bağlanılamadı! Lütfen projeyi yeniden başlatmayı deneyin."
ACTION_STATUS="#action_emoji #elapsed_time Dakikadır #game_name Oynuyor"
TOO_LONG="Hakkımda kısmı güncellenmek için çok uzun!"
VALID_GAME_NAME="Lütfen geçerli bir oyun adı girin."
SELECT_GAME_TO_DEL="Lütfen silinecek oyunu seçin."
UNSUPPORTED_OS="Bu uygulama yalnızca Windows ve Linux işletim sistemlerinde çalışır."
STARTED_MESSAGE="Uygulama başarıyla başlatıldı. Lütfen bu pencereyi kapatın; oyun durumunuzu Telegram profilinizde görmeye başlayacaksınız. Keyfini çıkarın!"
ADD_AT_LEAST_ONE_GAME="Lütfen en az bir oyun ekleyin."
ALREADY_ADDED="Bu oyun zaten eklendi!"
NOT_IN_DATABASE="Bu oyun veritabanında değil!"
FRAME_GAME_LIST="Oyun Listesi"
FRAME_HINT_PLACEHOLDER="Aramak istediğiniz oyunu buraya yazın"
FRAME_FOUND_GAMES="Oyun Listesi - #game_count Adet Oyun Bulundu"
APP_TITLE="Telegram Oyun Durumu"
WELCOME="Merhaba #firs_name"
CONSOLE_START_MESSAGE="Telegram Etkinlik Monitörü açık! Lütfen telegramdaki kayıtlı mesajlarınızı kontrol edin! (Terminali kapatmayın)"
ADD_ALL="Hepsini Ekle"
DELETE_ALL="Hepsini Sil"
UPDATE_AVAILABLE="Güncelleme Mevcut"
UPDATE_AVAILABLE_MESSAGE="Yeni bir sürüm (#latest_version) mevcut. Lütfen uygulamayı güncelleyin.\n\nGüncelleme yapmadan da kullanabilirsiniz ancak hatalar veya kararsızlıklarla karşılaşabilirsiniz.\n\n\nKullanılan sürüm: #current_version\nSon Sürüm: #latest_version\n\nYenilikler: #update_message"
ERROR_UPDATE_DEFAULT_BIO="Varsayılan biyografi güncellenirken hata oluştu!"
ERROR_START_MESSAGE="Başlangıç ​​mesajı gönderilirken hata oluştu!"
LOADING_MESSAGE="Lütfen bekleyin! Uygulama başlatılıyor..."
CHANGE_THEMA_LABEL="Tema Değiştir"
CHANGE_THEMA_DARK_MODE="Tema değiştirildi: Koyu tema"
CHANGE_THEMA_LIGHT_MODE="Tema değiştirildi: Açık tema"
DEFAULT_BIO_MAX_LENGTH="Varsayılan biyografi en fazla 70 karakter olabilir."
NO_GAMES_TO_REMOVE="Silinecek herhangi bir oyun bulunamadı!"
SHOW_HINTS="İpucu gösterimi"
HINTS="true"
HINTS_ON="İpucu gösterimi: Açık"
HINTS_OFF="İpucu gösterimi: Kapalı"
DEBUG_MODE_LABEL="DEBUG Modu"
DEBUG_ON="DEBUG Modu Açık"
UPDATE_MESSAGE="V2 Yayınlandı!"
DEBUG="false"
VERSION="2.0.0"


# DEBUG Değerleri
# NE YAPTIĞINIZI BİLMİYORSANIZ DEĞİŞMEYİN
DEBUG_VERSION="Kullanılan sürüm: "
DEBUG_SYSTEM="İşletim Sistemi: "
DEBUG_LOGOUT="Çıkış yapildi!"
DEBUG_START="Başlatıldı!"
DEBUG_PLAYING="Oynuyor "
DEBUG_PLAYTIME=" - Süre "
DEBUG_SET_LOW_PRIORITY="Başlangıç önceliği düşürüldü!"
DEBUG_VALID_NAME="Oyun adı geçerli değil"
DEBUG_GAME_REMOVED="Oyun silindi"
DEBUG_DELETE_GAME="Silmek için herhangi bir oyun seçilmedi"
DEBUG_GAME_ADDED="Oyun eklendi"
DEBUG_DEFAULT_BIO_IS_TOO_LONG="Varsayılan biyografi çok uzun"
DEBUG_EMPTY_GAME_LIST="Oyun listesi boş"
DEBUG_ALREADY_ADDED="Bu oyun zaten eklendi"
DEBUG_ALL_GAMES_REMOVED="Tüm oyunlar silindi"
DEBUG_SEARCH_QUERY="Arama sorgusu: "
DEBUG_ALL_GAMES="Listedeki tüm oyunlar eklendi: "
DEBUG_ALL_GAMES_MENU="Oyun Sayısı:"
DEBUG_CHANGE_THEMA_LIGHT_MODE="Tema değiştirildi: Açık tema"
DEBUG_CHANGE_THEMA_DARK_MODE="Tema değiştirildi: Koyu tema"
DEBUG_MODE_ON="Debug modu açıldı"
DEBUG_MODE_OFF="Debug modu kapatıldı"
DEBUG_NO_GAMES_TO_REMOVE="Silinecek herhangi bir oyun bulunamadı!"
DEBUG_ALL_GAMES_REMOVED="Tüm oyunlar silindi!"

# İPUCULARI
DEFAULT_BIO_HINT="Herhangi bir oyun açık değilken, biyografiniz buraya yazdığınız mesaj ile değişecektir."
DEBUG_MODE_HINT="Debug modu ile daha ayrıntılı çıktı verilerini görebilirsiniz."
REMOVE_HINT="Oyun listesinden seçili oyunu kaldırın."
REMOVE_ALL_HINT="Oyun listesinden tüm oyunları kaldırın."
START_HINT="Programı başlatın."
CHANGE_THEMA_HINT="Temayı değiştirin."
GAME_LIST_HINT="Oyun listesini gösterir."